In [7]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('reviews.csv', encoding='utf-8')

In [8]:
# Group by 'Business_name' and calculate the average rating based on sum and count
df_grouped = df.groupby('Business_name').agg({'Rating': ['sum', 'count']})
df_grouped.columns = ['Sum_Rating', 'Count_Reviews']
df_grouped['Average_Rating'] = df_grouped['Sum_Rating'] / df_grouped['Count_Reviews']
df_grouped = df_grouped.reset_index()

In [9]:
# Sort the DataFrame by average rating and count of reviews in descending order
df_sorted = df_grouped.sort_values(by=['Count_Reviews','Average_Rating'], ascending=False)

In [10]:
# Get the top 10 rated locations
top_10 = df_sorted.head(10)

# Print the top 10 rated locations
print("Top 10 rated locations:")
print(top_10)

# Get the bottom 10 rated locations
bottom_10 = df_sorted.tail(10)

# Print the bottom 10 rated locations
print("Bottom 10 rated locations:")
print(bottom_10)

Top 10 rated locations:
             Business_name  Sum_Rating  Count_Reviews  Average_Rating
64                  Koukos       823.0            169        4.869822
0    ARC Espresso Wine Bar       515.0            113        4.557522
58         JOIN Juice Bars       413.0             88        4.693182
76                   Mikel       333.0             81        4.111111
114           The Blue Cup       332.0             71        4.676056
112              Starbucks       236.0             65        3.630769
113            Sugar Angel       278.0             63        4.412698
123             To Tourlou       279.0             61        4.573770
21         Brusco Meze Bar       237.0             53        4.471698
75          Menta Cafe Bar       238.0             51        4.666667
Bottom 10 rated locations:
                      Business_name  Sum_Rating  Count_Reviews  Average_Rating
6          Anapsyktirio Anthokomiki         4.0              1             4.0
7                     Aristoteleion         4.0              1             4.0
11                        Babalooka         4.0              1             4.0
17                   Birdie Num Num         4.0              1             4.0
125           VOGA â€¢ Urban Cafe Bar         4.0              1             4.0
12   Baristars Coffee Spot & Snacks         3.0              1             3.0
36                     Coffee Berry         3.0              1             3.0
68                             Leon         3.0              1             3.0
62                        Kentrikon         1.0              1             1.0
110     Shaka Flavourite Shisha Bar         1.0              1             1.0